GetLogDLL/Service References/GetLog/GetLogWCF1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GetLogWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GetLogWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfRecordLog">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RecordLog" nillable="true" type="tns:RecordLog" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRecordLog" nillable="true" type="tns:ArrayOfRecordLog" />
  <xs:complexType name="RecordLog">
    <xs:sequence>
      <xs:element minOccurs="0" name="rlApi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rlDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="rlDeviceId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rlDeviceType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rlElement" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rlId" type="xs:long" />
      <xs:element minOccurs="0" name="rlIsShow" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rlMachine" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rlMsg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rlMsgTag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rlProject" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rlService" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rlSolution" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rlStep" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RecordLog" nillable="true" type="tns:RecordLog" />
</xs:schema>